* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2d2013;
}

.heading {
    margin: 20px;
    color: #fff;
}

#search {
    margin: 5px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    height: 40px;
    width: 250px;
}

h1, p
{
    margin: 20px;
    color: #fff;
}